--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
python-dotenv
accelerate
transformers
invisible-watermark
numpy>=1.17
PyWavelets>=1.1.1
opencv-python>=4.1.0.25
safetensors
peft
gradio
diffusers
